@CHARSET "iso-8859-1";
/** RESET **/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font-family: Helvetica;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
/** END RESET **/

.clearfix {
    clear: both;
    height: 0px;
    margin: 0;
    padding: 0;
}
body {
    margin: 0px;
    padding: 0;
/*     height: 100%; */
    color: #696969;
    font-family: Helvetica;
    font-size: 12px;
    
    
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 6px;
    padding: 6px;
    color: #333E54;
    border-bottom: 1px solid #ECECEC;
}
h1 {
    font-size: 20px;
    /*color: #98A4C3;*/
}
h2 {
    font-size: 17px;
    /*color: #98A4C3;*/
}
h3 {
    font-size: 14px;
    /*color: #98A4C3;*/
}
h4 {
    font-size: 12px;
    /*color: #98A4C3;*/
}
h5 {
    font-size: 10px;
    /*color: #98A4C3;*/
}
h6 {
    font-size: 8px;
    /*color: #98A4C3;*/
}

#header {
    margin: auto;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #CCC;
    background-color: #333E54;
    background-image: -moz-linear-gradient(270deg,#333E54 20.13%,#384767 99.96%);
    background-image: -o-linear-gradient(270deg,#333E54 20.13%,#384767 99.96%);
    background-image: -linear-gradient(270deg,#333E54 20.13%,#384767 99.96%);
    background-image: -webkit-gradient(linear,left top,right bottom,from(#333E54),to(#384767));
    background-image: -webkit-linear-gradient(270deg,#333E54 20.13%,#384767 99.96%);
    background-image: -ms-linear-gradient(270deg,#333E54 20.13%,#384767 99.96%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='FF333E54',EndColorStr='FF384767');

    margin-bottom: 20px; 
}
#div_logo {
    float: left;
}
#h1_sitename {
    /*padding-top: 75px;*/
    /*margin-left: 200px;*/
}
#main {
    margin: auto;
    /*padding: 10px;*/
    width: 900px;
}
table {
    width: 100%;
}
.td_list_test0 {
    width: 70%;
    padding: 6px;
}
.td_list_test1 {
    width: 30%;
    padding: 6px;
    text-align: right;
}
.td_list_test0 a{
    font-size: 14px;
    color: #4B7692;
    text-decoration: underline;
}
.td_list_test0 a:hover {
    color: greenyellow;
}
.odd {
    background-color: #EFEFEF;
}
.even {
    background-color: #FFFFFF;
}
#footer {
    padding: 20px;
    /*border-top: 1px solid #4B7692;*/
/*     margin-top: 20px; */
}